{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block aboutactive %}active{% endblock aboutactive %}
{% block content %}

<div class="container my-3">
  <h2 class="text-center my-3 py-3">I</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/500x300/?code,html" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Designer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/500x300/?code,html" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Developer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/500x300/?code,html" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Programmer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}